<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">


        <% if(path == "project/index.html") { %>

          <section id="main2">
            <%- partial('_partial/project', {post: page, index: false}) %>
          </section>

        <% } else if( path == "about/index.html" ){ %>

          <section id="main3">
            <%- partial('_partial/about', {post: page, index: false}) %>
          </section>
        
        <% } else { %>

          <section id="main"><%- body %></section>

        <% }  %>

        <% if (theme.sidebar && theme.sidebar !== 'bottom' && !is_page()){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>